<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Уважаемый(ая) [[${surname}]] [[${name}]]!</p>
<p>
    Во встрече, назначенной Вам на [[${date}]] [[${time}]], произошли изменения.
    Пожалуйста, ознакомьтесь с изменениями в сервисе синхронизации встреч название.
    Встреча, назначенная Вам на [[${date}]] [[${time}]] по направлению  [[${direction}]], была отменена.
    Пожалуйста, ознакомьтесь с изменениями в сервисе синхронизации встреч.
</p>
</body>
</html>